<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.benjaminsalamon.msoplaner">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_msologo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeworkActivity"
            android:label="@string/title_activity_homework"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.benjaminsalamon.msoplaner.MainActivity" />
        </activity>
        <activity
            android:name=".TimeTableActivity"
            android:label="@string/title_activity_time_table"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.benjaminsalamon.msoplaner.MainActivity" />
        </activity>
        <activity
            android:name=".ExamsActivity"
            android:label="@string/title_activity_exams"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.benjaminsalamon.msoplaner.MainActivity" />
        </activity>
        <activity android:name=".NewSubject" />
        <activity
            android:name=".main_tabbed"
            android:label="@string/title_activity_main_tabbed"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".NewLessonActivity" />
        <activity android:name=".NewExamActivity" />
        <activity android:name=".NewTaskActivity" />
        <activity android:name=".Main2Activity"></activity>
    </application>

</manifest>